@{
    Layout = null;
}
@model AccountsViewModel
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    <div class="w3-container">
    
        <div id="id01" class="w3-modal" style="display: block;">
            <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
                @if (TempData.ContainsKey("ErrorMessage"))
                {
                    <div class="w3-panel w3-red w3-display-container">
                        <span onclick="this.parentElement.style.display='none'"
                              class="w3-button w3-large w3-display-topright">&times;</span>
                        <h3>Thông báo !</h3>
                        <p>@TempData["ErrorMessage"]</p>
                    </div>


                }
                <div class="w3-center">
                    <br>

                    <img src="~/formain/img/core-img/logoshop.jpg" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
                </div>
           


                <form method="post" asp-controller="Login" asp-action="SubmitChangePassword" class="w3-container">
                    <div class="w3-section">
                        <label><b>Mã xác thực</b></label>
                        <input asp-for="ValidationCode" class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="text" placeholder="Nhập mã xác thực">


                        <label><b>User Name</b></label>
                        <input asp-for="Username" class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="text" placeholder="Enter Username">

                        <label><b>Mật khẩu mới</b></label>
                        <input asp-for="ConfirmPassword" type="password" class="w3-input w3-border"  placeholder="Enter Password" required>
                        
                        <label><b>Nhập lại mật khẩu</b></label>
                        <input asp-for="Password" class="w3-input w3-border" type="password" placeholder="Enter Password" required>

                        <button class="w3-button w3-block w3-green w3-section w3-padding" type="submit">Thiết lập mật khẩu</button>
                
                    </div>
                </form>


                <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                  
                    <form method="post" asp-controller="Login" asp-action="SendValidationCode"  class="w3-container">
                        <div class="w3-section">
                            <label><b>Email (Vui lòng nhập email trước sau đó lấy mã xác nhận tại gmail đã đăng ký)</b></label>
                            <input name="email" class="w3-input w3-border w3-hover-border-black w3-margin-bottom" type="text" placeholder="Enter Email">
                   

                            <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                                <a asp-controller="Home" asp-action="Index" type="button" class="w3-button w3-red">Cancel</a>
                                <button type="submit" class="w3-button w3-green">Gửi mã xác nhận</button>
                            </div>
                        </div>
                    </form>
                    @if (TempData.ContainsKey("SuccessMessage"))
                    {
                        <div class="w3-panel w3-green w3-display-container" style="height: 39.11px;">
                            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-small w3-display-topright">x</span>
                            @TempData["SuccessMessage"]
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>

</body>
</html>
<script>
    document.getElementById("cancelButton").addEventListener("click", function () {
        var panel = this.closest(".w3-panel");
        if (panel) {
            panel.style.display = "none";
        }
    });
</script>