@model CheckOutViewModel

<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="checkout_details_area mt-50 clearfix">
                    <div class="cart-title">
                        <h2>Checkout</h2>
                        <h2>Mã hóa đơn: @Model.IdOrder</h2>
                    </div>
                    <form asp-action="CompleteCheckOut" asp-controller="Cart" method="post">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="FirstName">Họ và tên lót</label>
                                <input type="text" class="form-control" id="FirstName" name="FirstName" required>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="LastName">Tên</label>
                                <input type="text" class="form-control" id="LastName" name="LastName" required>
                            </div>
                        </div>
                        <div class="col-12 mb-3">
                            <label for="Email">Email</label>
                            <input type="email" class="form-control" id="Email" name="Email">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="Address">Địa chỉ</label>
                            <input type="text" class="form-control mb-3" id="Address" name="Address">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="PhoneNumber">Số điện thoại</label>
                            <input type="number" class="form-control" id="PhoneNumber" name="PhoneNumber" min="0">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="Note">Ghi chú</label>
                            <textarea name="Note" class="form-control w-100" id="Note" name="Note" cols="30" rows="10"></textarea>
                        </div>
                        <input type="hidden" id="IdOrder" name="IdOrder" value="@Model.IdOrder">
                        <button type="submit" class="btn amado-btn w-100">Checkout</button>
                    </form>
                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="cart-summary">
                    <h5>Cart Total</h5>
                    <ul class="summary-table">
                        <li><span>Tổng cộng:</span> <span>@Model.TotalPrice</span></li>
                        <li><span>Gía giảm:</span> <span>Free</span></li>
                        <li><span>Thành tiền:</span> <span>@Model.TotalPrice</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>