@model List<CartItemVewModel>

        <div class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>Giỏ hàng</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Tên</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                    </tr>
                                </thead>
                                <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="cart_product_img">
                                            <img src="data:image;base64,@Convert.ToBase64String(item.ProductImage)" alt="Product">
                                        </td>
                                        <td class="cart_product_desc">
                                            <h5>Tên: @item.ProductName</h5>
                                        </td>
                                        <td class="price">
                                            <span>@item.Price</span>
                                        </td>
                                        <td class="qty">
                                            <div class="qty-btn d-flex">
                                                <p>SL</p>
                                                <div class="quantity">
                                                    <span class="qty-minus" onclick="var effect = document.getElementById('qty-@item.ProductId'); var qty = effect.value; if (!isNaN(qty) && qty > 1) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                                                    <input type="number" class="qty-text" id="qty-@item.ProductId" step="1" min="1" max="300" name="quantity" value="@item.Quantity">
                                                    <span class="qty-plus" onclick="var effect = document.getElementById('qty-@item.ProductId'); var qty = effect.value; if (!isNaN(qty)) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }

                           
                        </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Cart Total</h5>
                            <ul class="summary-table">
                                <li><span>Tổng cộng:</span> <span>$140.00</span></li>
                                <li><span>Giao hàng:</span> <span>Free</span></li>
                                <li><span>Thành tiền:</span> <span>$140.00</span></li>
                            </ul>
                            <div class="cart-btn mt-100">
                                <a href="cart.html" class="btn amado-btn w-100">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


 
