
<div class="cart-table-area section-padding-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-12">
                <div class="cart-title mt-50">
                    <h2>Danh sách dơn hàng</h2>
                </div>
                <form asp-action="ValidateUser" asp-controller="Cart" method="post" class="form-inline">
                    <div class="form-group">
                        <input type="text" name="phoneNumber" class="form-control" placeholder="Tìm đơn hàng bằng sdt...">
                    </div>
                    <button type="submit" class="btn btn-primary">Tìm kiếm</button>
                </form>

                </div>
            </div>
        </div>
    </div>
