@using Infrastructure.Entities;
@using Newtonsoft.Json;
@{
    string userJson = Context.Session.GetString("LoggedInUser");
    Accounts loggedInUser = null;
    if (!string.IsNullOrEmpty(userJson))
    {
        loggedInUser = JsonConvert.DeserializeObject<Accounts>(userJson);
    }
    else
    {
        Context.Response.Redirect("/AccessDenied");
        return;
    }
}
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Page Content -->
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            <h2 class="fs-2 m-0">Dashboard</h2>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i>@loggedInUser.Username
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
   
    <style>
        .image-cell {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
        }
    </style>
    <div class="w3-container">
        <h1 class="w3-center">Danh sách sản phẩm</h1>
        <div class="w3-right">
            <a class="w3-button w3-green" asp-controller="Product" asp-action="AddProduct">Thêm sản phẩm</a>
        </div>
        <table class="w3-table w3-striped w3-bordered">
            <thead>
                <tr class="w3-blue">
                    <th>Mã sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Mô tả</th>
                    <th>Giá tiền</th>
                    <th>Hình ảnh</th>
                    <th>Danh mục</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <!-- Render product data dynamically from your code -->
                <tr>
                    <td>1</td>
                    <td>Product 1</td>
                    <td>Description 1</td>
                    <td>$19.99</td>
                    <td class="image-cell" style="background-image: url('https://cdn.24h.com.vn/upload/1-2021/images/2021-02-26/image50-1614333620-651-width500height800.jpg')"></td>
                    <td>1</td>
                    <td>
                        <a class="w3-button w3-green" href="#">Sửa</a>
                        <a class="w3-button w3-red" href="#">Xóa</a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Product 2</td>
                    <td>Description 2</td>
                    <td>$29.99</td>
                    <td class="image-cell" style="background-image: url('https://khoinguonsangtao.vn/wp-content/uploads/2022/09/hinh-ve-don-gian-cute-dang-yeu-va-de-thuc-hien.jpg')"></td>
                    <td>2</td>
                    <td>
                        <a class="w3-button w3-green" href="#">Sửa</a>
                        <a class="w3-button w3-red" href="#">Xóa</a>
                    </td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>

