@using Infrastructure.Entities;
@using Newtonsoft.Json;
@using X.PagedList.Mvc
@using X.PagedList
@using X.PagedList.Web.Common
@using X.PagedList.Mvc.Core
@{

    string userJson = Context.Session.GetString("LoggedInUser");
    Accounts loggedInUser = null;
    if (!string.IsNullOrEmpty(userJson))
    {
        loggedInUser = JsonConvert.DeserializeObject<Accounts>(userJson);
        if (loggedInUser.Role != "1")
        {
            Context.Response.Redirect("/AccessDenied");
            return;
        }
    }
    else
    {
        Context.Response.Redirect("/AccessDenied");
        return;
    }

}
@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<!-- Page Content -->
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
        <div class="d-flex align-items-center">
            <i class="fas fa-align-left primary-text fs-4 me-3" id="menu-toggle"></i>
            <h2 class="fs-2 m-0">Dashboard</h2>
        </div>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                       role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-user me-2"></i>@loggedInUser.Username
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <style>
        .image-cell {
            width: 100px;
            height: 100px;
            background-size: cover;
            background-position: center;
        }
    </style>
    <div class="w3-container">
        <h1 class="w3-center">Danh sách Các khuyến mãi hiện hành</h1>

        </div>

    </div>

